aside{
  background: white;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

}
body{
  background: whitesmoke;
  margin: 0;
}


.przycisk{
  width: 100px;
  background-color: white;
  border: 5px solid white;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 10em;


}
.przycisk:hover{
  color: orange;
}