header {
  background: white;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

body {
  background: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;

}


.button {
  width: 160px;
  background-color: white;
  border: 5px solid white;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin: 10px;
  height: 10em;
  border-radius: 10px;
  border-width: 3px;
  border-color: white;
  display: flex;
  justify-content: center;
}

.button:hover {
  color: orange;
  border-color: orange;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;

}

.nice-button {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;


}
.search{
  width: 350px;
  background-color: white;
  border: 5px solid white;
  border-color: darkgrey;
  border-radius: 5px;
  border-width: 1px;
  height: 30px;
  align-items: center;
  color: darkgrey;
  display: flex;
  justify-content: flex-start;
  padding: 5px;

}