header {
  background: white;
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
}

body {
  background: whitesmoke;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  height: 100vh;

}


.button {
  width: 160px;
  background-color: white;
  border: 5px solid white;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  align-items: center;
  margin: 10px;
  height: 10em;
  border-radius: 10px;
  border-width: 3px;
  border-color: white;
  display: flex;
  justify-content: center;
  transition-duration: 1s;
}

.button:hover {
  color: orange;
  border-color: orange;


}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
  position: relative;
}



.nice-button {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  
}

.search-contener {
  background-color: white;
  border-radius: 5px;
  border: 5px solid white;
  border-width: 2px;
  border-color: darkgrey;
  height: 30px;
  align-items: center;
  color: darkgrey;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
}


.search-icon {
  margin: 0 12px;


}


.search-input {
  width: 350px;
  height: 30px;
  box-sizing: border-box;
  border-color: solid white;
  border-width: 0px;
  outline-style: none;

}
.search-input:focus~.search-contener{
border-color: orange;
}
.email-styles:hover{
color: orange;
transform: scale(1.2);
}
.email-styles{
  transition-duration: 0.6s;

}
.icon-styles:hover{
transform: scale(1.2);
transition: 0.6s transform linear;

}

.topright{
  position: absolute;
  bottom: -5px;
  font-size: 85px;
  left: 55px;
  color: orange;
}
img{
  height: auto;
}